{
  "apiKey": "???",
  "authDomain": "localhost",
  "databaseURL": "https://YOUR_APP.firebaseio.com",
  "projectId": "???",
  "storageBucket": "YOUR_APP.appspot.com",
  "messagingSenderId": "123456789"
}